@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham-Medium.eot');
	src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Medium.woff') format('woff'),
		url('fonts/Gotham-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('fonts/Gotham-Book.eot');
	src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Book.woff') format('woff'),
		url('fonts/Gotham-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham-BoldItalic.eot');
	src: url('fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-BoldItalic.woff') format('woff'),
		url('fonts/Gotham-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham-Light.eot');
	src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Light.woff') format('woff'),
		url('fonts/Gotham-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('fonts/Gotham-Bold.eot');
	src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Bold.woff') format('woff'),
		url('fonts/Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?7z9kv3');
	src:  url('fonts/icomoon.eot?7z9kv3#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff?7z9kv3') format('woff'),
		url('fonts/icomoon.ttf?7z9kv3') format('truetype');
	font-weight: normal;
	font-style: normal;
}